<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SauvegardeUser</servlet-name>
        <servlet-class>SauvegardeUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConnectionUser</servlet-name>
        <servlet-class>ConnectionUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SauvegarderMotsCles</servlet-name>
        <servlet-class>SauvegarderMotsCles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifierProfil</servlet-name>
        <servlet-class>ModifierProfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActionAdmin</servlet-name>
        <servlet-class>ActionAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uplaod</servlet-name>
        <servlet-class>uplaod</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SauvegardeUser</servlet-name>
        <url-pattern>/SauvegardeUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnectionUser</servlet-name>
        <url-pattern>/ConnectionUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SauvegarderMotsCles</servlet-name>
        <url-pattern>/SauvegarderMotsCles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifierProfil</servlet-name>
        <url-pattern>/ModifierProfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionAdmin</servlet-name>
        <url-pattern>/ActionAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uplaod</servlet-name>
        <url-pattern>/uplaod</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
